* {
    margin: 0;
    padding: 0;
    }

body {

    background-color: #e76f51;
}

a {
    text-decoration: none;
    color: #264653;
}

p {
    font-family: 'Barlow', sans-serif;
}

.Museum_name a {
    color:#ffeed4;
}

.headers {
    /* font-family: 'limelight', cursive; */
    font-family: 'Shizuru', cursive;
}

.title {
    font-family: 'Barlow', sans-serif;
}

nav {
    margin-bottom: 73px;
}

nav div div {
    font-size: 60px;
}

nav li {
    display:inline-block;
    margin: 0px 35px;
    font-size: 30px;
    font-family: 'Shizuru', cursive;
}

.container {
    display: flex;
    flex-direction: column;
}
.flex_container { 
    display: flex;
    justify-content: center;
}

.Museum_name {
    align-self: center;
    /* align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start; */
    color: #ffeed4;
}
.sub_heading {
    font-size: 40px;
    align-self: flex-end;
    /* align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end; */
    color: #ffeed4;
    margin-right: 20px;
}

.label {
    margin: auto;
    display: block;
    text-align: center;
}

.label p {
    /* width: 66%; */
    align-items: center;
    width: 70%;
    display: inline-block;

}

img {
    max-width: 66%;
    height: auto;
}

.arrow {
  
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.arrow::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  .arrow.left::before { 
    transform: rotate(-135deg);
    margin: -15px 0 0 -10px;
  }
  .arrow.right::before { 
    transform: rotate(45deg); 
    margin: -15px 0 0 -20px;
  }
  
  .arrow::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #000;
    position: absolute;
    transform-origin: 50% 50%;
  }
  
  .arrow.left::after { 
    width: 40px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-14px, -1px);
  }
  
  .arrow.right::after { 
    width: 40px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-26px, -1px);
  }
  
  .arrow.circle {
    background: #ffeed4;
    border-radius: 50px;
  }
  .flex_container a {
      text-align: center;
  }

Footer { 
    margin-top: 40px;
}